package templates

templ Homepage() {
	<header class="container">
		<nav>
			<ul>
				<li><strong>Acme Corp</strong></li>
			</ul>
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Products</a></li>
			</ul>
		</nav>
	</header>
	<main class="container-fluid">
		<div id="graph" style="height: 600px;"></div>
		// <div hx-post="/graph" hx-swap="innerHTML" hx-trigger="load"></div>
	</main>
	<footer class="container"></footer>
}
